{% extends "layout.html" %}

{% block title %}
    Purchase Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Enter stock symbol" type="text">
            <input autocomplete="off" class="form-control" name="shares" type="text" placeholder="Amount">
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
{% endblock %}
