{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                {% for i in shares %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>

            <input autocomplete="off" class="form-control" name="shares" type="text" placeholder="Amount">
        </div>
        <button class="btn btn-primary" type="submit">Confirm Sale</button>
    </form>
{% endblock %}
